.so-widget-sow-headline-sow-headline-ee4956a905a2 #sow-headline-container.sow-headline h1 {
  text-align: center;
  color: #404040;
  line-height: 1.3;
}
.so-widget-sow-headline-sow-headline-ee4956a905a2 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #404040;
  line-height: 1.3;
}
.so-widget-sow-headline-sow-headline-ee4956a905a2 #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #808080;
  position: relative;
  height: 1px;
  margin: 20px 60px 20px 60px;
}
