button#sendforesporseldirektefraprofil{
    margin-top: 25px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #fe423f;
    text-shadow: none;
    padding: 10px;
}

#field1 .row h1{
    text-align: center;
}

/*
.panel-grid-cell .widget-title {
                                text-align: center;
                                margin-bottom: 15px;
                                font-weight: bold;
                            }

.job-manager-form fieldset label {
    width: 100%;
}

.job-manager-form fieldset div.field {
    width: 100%;
    float: none;
}

.job-form-label {
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 1px solid #EEE;
}

.input-text, .chosen-choices {
    margin-top: 25px !important;
    border-radius: 3px;
    padding: 3px;
}

.required-field .chosen-single {
    margin-top: 31px !important;
}

.required-field textarea {
    margin-top: 9px !important;
    height: 69px !important;
}
*/
/*send foresp�rsel*/
.job-form-label, .job-manager-form fieldset div.field{
    width:100% !important;
}

.job-information{
    margin-top:10%;
}
#kundemailkonto{
    display:none !important;
}

.search-field, .search-field input{
    width:100% !important;
}
#kategoriSingleJobListing, #addresseSingleJobListing{
    margin-top:0 !important;
    margin-bottom:0 !important;
    font-size: 14px !important;
}

.single_job_listing .job_description{
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    border: 1px solid #E1E8ED;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.woocommerce a.button, #job_preview_submit_button{
    text-shadow:none !important;
    box-shadow:none !important;
}
.btn-action, #submit-job-form input[type="submit"], .woocommerce a.button,#job_preview_submit_button {
    background-color: #15bb2b !important;
    color: white !important;
    border: 2px solid #07b11e !important;
    margin-top: 25px !important;
    margin-bottom:25px !important;
}

.btn-action:hover, #submit-job-form input[type="submit"]:hover{
    background-color: #07b11e !important;
    color: white !important;
}

.btn-sign-out {
    color: black !important;
    background-color: white !important;
    background: none !important;
    border: 2px solid black !important;
}

.btn-sign-out:hover {
    background: #2F3033 none repeat scroll 0% 0% !important;
    color: #FFF !important;
    text-decoration:none !important;
}

.sign-out-field {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.main-navigation ul li:hover > a, #search-icon #search-icon-icon:hover{
    background-color:white !important;
    color:black !important;
    border-bottom: 3px solid #fe423f !important;
    text-decoration:none !important;
}

article.post .entry-header, article.page .entry-header {
    margin-bottom: 0px !important;
}
/*REGISTRATION http://p1.pichost.me/i/57/1810822.jpg*/
#msform {
    width: 100%;
    position: relative;
    margin-top:5%;
}

#msform li{
    text-align:center;

}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10% 10% 10%;

    /*stacking fieldsets above each other*/
}
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    border:0 !important;
    width: 100px;
    background: #fe423f !important;
    color: white !important;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px !important;
    margin: 10px 5px;
    text-shadow:none;
}

#msform .submit-action{
    width: 189px;
    padding: 10px 20px !important;
}
#msform .action-button:hover, #msform .action-button:focus,.woocommerce a.button:hover, #job_preview_submit_button:hover  {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #fe423f !important;
}
#msform .action-submit{
    width:140px;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
#deltilFacebookProfilside{
    height:49px;
    padding-top:13px;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    margin-top: -60px !important;
}
#deltilFacebookProfilside:hover{
    background-color:#0F5FA4;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: 31.33%;
    float: left;
    position: relative;
    font-weight:bold;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background-color: grey;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #808080 none repeat scroll 0% 0%;
    position: absolute;
    top: 9px;
    left: -175px;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #fe423f;
    color: white;
}

.btn-registration-wrap{
    text-align:center;
}

@media (min-width: 768px) and (max-width: 1024px){
    #progressbar li{
        width: 30.33%;
    }

}